<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adder</title>
    <link href="{{ url_for('static', filename='form.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="" method="post">
        <textarea type="text" name="lyrics"></textarea>
        <input type="submit" value="Submit" />
    </form>

    <form action="/gen" method="post">
        <label for="chorus">Number of choruses</label>
        <input type="number" id="chorus" name="chorus" value="6"/>
        <label for="chorus_length">Chorus Length</label>
        <input type="number" id="chorus_length" name="chorus_length" value="4"/>
        <label for="verse_length">Verse Length</label>
        <input type="number" id="verse_length" name="verse_length" value="6"/>
        <input type="submit" value="Click to Generate" />
    </form>
</body>
</html>